@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap");

.Dark_Mode {
  --BGColor1: #111317;
  --BGColor2: #1d1e24;
  --BGColor3: #0a0d0f;

  --BGNavBar: #111317cc;

  --TextColor1: #bdc3d4;
  --TextColor2: #7f8494;
  --TextColor3: #484c56;

  --EffectColor1: #0d9da3;
  --EffectColor2: #0e777b;

  --BGEffect: linear-gradient(180deg, rgba(17, 19, 23, 0.86) 0%, #111317 100%);
}

.White_Mode {
}

$BGColor1: #111317;
$BGColor2: #1d1e24;
$BGColor3: #0a0d0f;

$BGNavBar: #111317cc;

$TextColor1: #bdc3d4;
$TextColor2: #7f8494;
$TextColor3: #484c56;

$EffectColor1: #0d9da3;
$EffectColor2: #0e777b;

$BgEffect: linear-gradient(180deg, rgba(17, 19, 23, 0.86) 0%, #111317 100%);
