@import "../../palete.scss";

.Background_Div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 103.7%;
  width: 100%;
  z-index: -10;
}
.Background_Image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.Background_Effect {
  background: $BgEffect;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(10px);
}
